body {
    color: #40514E;
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
    line-height: 2;
}
    

.section img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}